{
  "plugins": ["react", "prettier"],
  "extends": ["prettier"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "global-require": 0
  },

  "env": {
    "es2021": true,
  },
  "settings": {
    "react": {
      "version": "detect"
    },
  },
}
