.footer-container {
  display: flex;
  flex-direction: row;
  padding: 10rem/16rem;
  .total-score {
    display: flex;
    flex: 1;
    flex-direction: column;
    span {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .reset-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    button {
      background-color: #864cbf;
      font-weight: 700;
      color: #fff;
      border: none;
      border-radius: 3px;
      padding: 10rem/16rem;
      transition: background 0.4s ease;

      &:hover {
        cursor: pointer;
        background-color: #66bf39;
      }
    }
  }
}
