@import "variable";

.footer-container {
  display: flex;
  flex-direction: row;
  padding: @padding-width;
  .total-score {
    display: flex;
    flex: 1;
    flex-direction: column;
    span {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .reset-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    button {
      background-color: @primary;
      font-weight: 700;
      color: @white;
      border: none;
      border-radius: 3px;
      padding: @padding-width;
      transition: background 0.4s ease;

      &:hover {
        cursor: pointer;
        background-color: @secondary;
      }
    }
  }
}
